# Logic Building Task 2

Name: Suhani Sharma  
Internship: Innomatics Research Labs-Advanced Generative AI Internship

# Problem 1: Unique Words in a Sentence

## Problem Statement:
Given a sentence, identify all unique words and display:
- Count of unique words
- The unique words themselves

## Real-Time Applications:
- Text analytics
- NLP preprocessing
- Search engine indexing

In [1]:
sentence = input("Enter sentence: ")
words = sentence.split()
unique_words = set(words)
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'easy', 'powerful', 'is', 'and', 'python'}

# Problem 2: Highest Salary from Employee Data

## Problem Statement:
Store employee names and their salaries and determine which employee has the highest salary.

## Real-Time Applications:
- HR management systems
- Payroll analysis

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}
highest_employee = max(employees, key=employees.get)
print("Highest Salary:", highest_employee, "-", employees[highest_employee])

Highest Salary: Ravi - 75000

# Problem 3: Find Maximum and Minimum Values

## Problem Statement:
Find the maximum and minimum values from a list of numbers.

## Real-Time Applications:
- Sales data analysis
- Temperature monitoring systems

In [3]:
numbers = [45, 22, 89, 10, 66]
maximum = numbers[0]
minimum = numbers[0]
for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# Problem 4: Count Products Above a Price Threshold

## Problem Statement:
Count how many products have a price greater than 1000.

## Real-Time Applications:
- E-commerce filtering
- Budget analysis

In [4]:
prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count += 1
print("Products above 1000:", count)

Products above 1000: 2

# Problem 5: Calculate Attendance Percentage

## Problem Statement:
Calculate the attendance percentage from a list containing "P" (Present) and "A" (Absent).

## Real-Time Applications:
- Internship tracking systems
- HR attendance management

In [5]:
attendance = ["P", "P", "A", "P", "P"]
present_count = attendance.count("P")
total_days = len(attendance)
percentage = (present_count / total_days) * 100
print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

# Problem 6: Remove Duplicate Phone Numbers

## Problem Statement:
Remove duplicate phone numbers from a list.

## Real-Time Applications:
- CRM systems
- Contact management

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]
unique_numbers = set(phone_numbers)
print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

# Problem 7: Count Character Frequency

## Problem Statement:
Count how many times each character appears in a string.

## Real-Time Applications:
- Text analysis
- Password validation systems

In [7]:
text = "python"
frequency = {}
for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1
print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# Problem 8: Convert List to Tuple

## Problem Statement:
Convert a list into a tuple.

## Real-Time Applications:
- Making data read-only
- Configuration storage

In [8]:
my_list = [10, 20, 30]
my_tuple = tuple(my_list)
print("Tuple:", my_tuple)

Tuple: (10, 20, 30)

# Problem 9: Check if a Key Exists in a Dictionary

## Problem Statement:
Check whether a specific key exists in a dictionary.

## Real-Time Applications:
- User validation systems
- Configuration verification

In [9]:
employees = {"Ravi": 75000, "Anita": 68000}
if "Ravi" in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

# Problem 10: Calculate Average Marks

## Problem Statement:
Calculate the average marks of a student from a list of marks.

## Real-Time Applications:
- Student performance evaluation
- Result processing systems

In [10]:
marks = [70, 75, 80, 65]
average = sum(marks) / len(marks)
print("Average Marks:", average)

Average Marks: 72.5